@use "../../global" as *;

.c-accordion01 {
    max-width: 500px;
    background-color: #f0f5f9;

    &:not([open]) {
        margin-bottom: 7px;

        [open] summary::after {
            transform: rotate(225deg);
        }
    }

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1em 2em;
        border-radius: 5px;
        background-color: #2589d0;
        color: #fff;
        font-weight: 600;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            transform: translateY(-25%) rotate(45deg);
            width: 7px;
            height: 7px;
            margin-left: 10px;
            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
            content: '';
            transition: transform .3s;
        }
    }

    p {
        transform: translateY(-10px);
        opacity: 0;
        margin: 0;
        padding: 1em 2em 2em 2em;
        color: #333333;
        transition: transform .5s, opacity .5s;
    }

    &[open] p {
        transform: none;
        opacity: 1;
    }
}

.c-accordion02 {
    max-width: 500px;
    margin-bottom: 7px;
    border: 2px solid #2589d0;
    border-radius: 5px;

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1em 2em;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2028%2028%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2214%22%20cy%3D%2214%22%20r%3D%2214%22%20style%3D%22fill%3A%232589d0%3B%22%2F%3E%0A%3C%2Fsvg%3E');
        background-position: right calc(2em - 7px) center;
        background-size: 22px;
        background-repeat: no-repeat;
        color: #2589d0;
        font-weight: 600;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            transform: translateY(-25%) rotate(45deg);
            width: 5px;
            height: 5px;
            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
            content: '';
            transition: transform .3s;
        }
    }

    &[open] summary::after {
        transform: rotate(225deg);
    }

    p {
        transform: translateY(-10px);
        opacity: 0;
        margin: 0;
        padding: 0 2em 1.5em;
        color: #333333;
        transition: transform .5s, opacity .5s;
    }

    &[open] p {
        transform: none;
        opacity: 1;
    }
}

.c-accordion03 {
    max-width: 500px;
    margin-bottom: 7px;

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1em 2em;
        border: 2px solid #2589d0;
        border-radius: 5px;
        color: #2589d0;
        font-weight: 600;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            transform: translateY(-25%) rotate(45deg);
            width: 7px;
            height: 7px;
            border-bottom: 3px solid #2589d0;
            border-right: 3px solid #2589d0;
            content: '';
            transition: transform .3s;
        }
    }

    &[open] summary::after {
        transform: rotate(225deg);
    }

    p {
        position: relative;
        transform: translateY(-10px);
        opacity: 0;
        margin-top: 20px;
        padding: .8em 1.2em;
        border: 2px solid #2589d0;
        border-radius: 5px;
        background-color: #fff;
        color: #333333;
        transition: transform .5s, opacity .5s;

        &::before,
        &:after {
            position: absolute;
            top: -15px;
            left: 1.2em;
            width: 30px;
            height: 15px;
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
            content: '';
        }

        &::before {
            background-color: #2589d0;
        }

        &::after {
            top: -12px;
            background-color: #fff;
        }
    }

    &[open] p {
        transform: none;
        opacity: 1;
    }
}

.c-accordion04 {
    max-width: 500px;

    &:not([open]) {
        margin-bottom: 7px;
    }

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1em 2em;
        border-left: 5px solid #2589d0;
        background-color: #e6edf3;
        color: #333333;
        font-weight: 600;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            transform: translateY(-25%) rotate(45deg);
            width: 7px;
            height: 7px;
            margin-left: 10px;
            border-bottom: 3px solid #b6bdc3;
            border-right: 3px solid #b6bdc3;
            content: '';
            transition: transform .3s;
        }

        &[open] summary::after {
            transform: rotate(225deg);
        }
    }

    p {
        transform: translateY(-10px);
        opacity: 0;
        margin: 0;
        padding: 1em 2em 2em 2em;
        color: #333333;
        transition: transform .5s, opacity .5s;
    }

    &[open] p {
        transform: none;
        opacity: 1;
    }
}