@use "../../global" as *;

.c-faq01 {
    margin-bottom: 1em;
    color: #333333;
    font-weight: 600;

    dt::before,
    dd::before {
        margin-right: .4em;
    }

    dt::before {
        content: "Q.";
    }

    dd {
        margin: 0 0 2.5em;
        padding: 1em 1.5em;
        background-color: #f2f2f2;
        color: #333333;

        &::before {
            content: "A.";
        }
    }
}

.c-faq02 {
    max-width: 500px;
    margin-bottom: 5px;
    border-bottom: 2px solid #d6dde3;

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1em 2em 1em 3em;
        color: #333333;
        font-weight: 600;
        cursor: pointer;

        &::before {
            position: absolute;
            left: 1em;
            font-weight: 600;
            font-size: 1.3em;
            color: #75bbff;
            content: "Q";
        }

        &::after {
            transform: translateY(-25%) rotate(45deg);
            width: 7px;
            height: 7px;
            margin-left: 10px;
            border-bottom: 3px solid #333333b3;
            border-right: 3px solid #333333b3;
            content: '';
            transition: transform .5s;
        }
    }

    p {
        position: relative;
        transform: translateY(-10px);
        opacity: 0;
        margin: 0;
        padding: .3em 3em 1.5em;
        color: #333;
        transition: transform .5s, opacity .5s;

        &::before {
            position: absolute;
            left: 1em;
            font-weight: 600;
            font-size: 1.3em;
            color: #ff8d8d;
            line-height: 1.2;
            content: "A";
        }
    }

    &[open] summary::after {
        transform: rotate(225deg);
    }

    &[open] p {
        transform: none;
        opacity: 1;
    }

}

.c-faq03 {
    max-width: 500px;
    margin-bottom: 7px;
    border: 1px solid #d6dde3;
    border-radius: 5px;

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1em 2em 1em 3em;
        color: #333333;
        font-weight: 600;
        cursor: pointer;

        &::before {
            position: absolute;
            left: 1em;
            font-weight: 600;
            font-size: 1.3em;
            color: #75bbff;
            content: "Q";
        }

        &::after {
            transform: translateY(-25%) rotate(45deg);
            width: 7px;
            height: 7px;
            margin-left: 10px;
            border-bottom: 3px solid #333333b3;
            border-right: 3px solid #333333b3;
            content: '';
            transition: transform .5s;
        }
    }

    &[open] summary::after {
        transform: rotate(225deg);
    }

    p {
        position: relative;
        transform: translateY(-10px);
        opacity: 0;
        margin: 0;
        padding: .3em 3em 1.5em;
        color: #333;
        transition: transform .5s, opacity .5s;

        &::before {
            position: absolute;
            left: 1em;
            font-weight: 600;
            font-size: 1.3em;
            color: #ff8d8d;
            line-height: 1.2;
            content: "A";
        }
    }

    &[open] p {
        transform: none;
        opacity: 1;
    }
}

.c-faq04 {
    max-width: 500px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 2%), 0 2px 3px -2px rgba(0 0 0 / 5%);
    background-color: #fff;

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1em 2em 1em 3em;
        color: #333333;
        font-weight: 600;
        cursor: pointer;

        &::before {
            position: absolute;
            left: 1em;
            font-weight: 600;
            font-size: 1.3em;
            color: #75bbff;
            content: "Q";
        }

        &::after {
            transform: translateY(-25%) rotate(45deg);
            width: 7px;
            height: 7px;
            margin-left: 10px;
            border-bottom: 3px solid #333333b3;
            border-right: 3px solid #333333b3;
            content: '';
            transition: transform .5s;
        }
    }

    &[open] summary::after {
        transform: rotate(225deg);
    }

    p {
        position: relative;
        transform: translateY(-10px);
        opacity: 0;
        margin: 0;
        padding: .3em 3em 1.5em;
        color: #333;
        transition: transform .5s, opacity .5s;

        &:before {
            position: absolute;
            left: 1em;
            font-weight: 600;
            font-size: 1.3em;
            color: #ff8d8d;
            line-height: 1.2;
            content: "A";
        }
    }

    &[open] p {
        transform: none;
        opacity: 1;
    }
}