@use "../../global" as *;

.c-image01 {
    display: inline-block;
    padding: toRem(10);
    background: #000000;
    display: inline-block;
    border: #000000 toRem(10) solid;
    max-width: 100%;
    vertical-align: bottom;
}

.c-image02 {
    max-width: 100%;
    vertical-align: bottom;
    display: inline-block;
    box-shadow: 10px 10px 5px #bbbbbb;
}

.c-image03 {
    max-width: 100%;
    vertical-align: bottom;
    display: inline-block;
    box-shadow: 10px 10px 5px #bbbbbb;
    transform: rotate(-5deg);
}

.c-image04 {
    display: inline-block;
    padding: 1px;
    background: #000000;
    box-shadow: 5px 5px 3px #bbbbbb;

    img {
        max-width: 100%;
        vertical-align: bottom;
        padding: 10px 10px 30px;
        background: #fff;
    }
}

.c-image05 {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.c-image06 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.c-image07 {
    position: relative;
    max-width: 100%;
    vertical-align: bottom;

    &::before {
        position: absolute;
        content: 'NEW YORK';
        left: 0;
        top: 0;
        color: #ffffff;
        padding: 5px 10px;
        background: #000000;
    }
}

.c-image08 {
    display: inline-block;
    background: #000000;

    img {
        max-width: 100%;
        vertical-align: bottom;
        opacity: 0.5;
    }
}

.c-image09 {
    max-width: 100%;
    vertical-align: bottom;
    filter: grayscale(100%);
}

.c-image10 {
    max-width: 100%;
    vertical-align: bottom;
    filter: sepia(100%);
}

.c-image11 {
    max-width: 100%;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border-image-source: repeating-linear-gradient(45deg, #fff, #fff 3px, rgba(0 0 0 / 0) 0, rgba(0 0 0 / 0) 6px);
        border-image-slice: 20;
        border-image-repeat: round;
        border-style: solid;
        border-width: 20px;
    }
}

.c-image12 {
    max-width: 100%;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        transform: rotate(-35deg);
        width: 70px;
        height: 25px;
        background-color: #fff;
        z-index: 1;
    }

    &::before {
        top: -10px;
        left: -25px;
        border-bottom: 1px solid #aaa;
    }

    &::after {
        bottom: -10px;
        right: -25px;
        border-top: 1px solid #aaa;
    }
}

.c-image13 {
    max-width: 100%;
    position: relative;

    &:before,
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }

    &::before {
        top: -15px;
        right: -15px;
        border-width: 0 100px 100px 0;
        border-color: transparent #053e62 transparent transparent;
    }

    &::after {
        bottom: -15px;
        left: -15px;
        border-width: 100px 0 0 100px;
        border-color: transparent transparent transparent #053e62;
    }
}

.c-image14{
    max-width: 98%;
    box-shadow: 20px 20px 0 #c3a400;
}