@use "../../global" as *;

.c-list01 {
    list-style-type: disc;
    padding: 1em 1em 1em 2.5em;
    border: 2px solid #2589d0;

    li {
        padding: .3em .3em .3em 0;

        &::marker {
            color: #2589d0;
            font-size: 1.1em;
        }
    }
}

.c-list02 {
    list-style-type: disc;
    list-style-position: inside;
    padding: 1em;
    border: 2px solid #2589d0;

    li {
        padding: .5em;

        &:not(:last-child) {
            border-bottom: 1px dashed #2589d0;
        }

        &::marker {
            color: #2589d0;
            font-size: 1.1em;
        }
    }
}

.c-list03 {
    list-style-type: disc;
    padding: 1em 1em 1em 2.5em;
    border-left: 5px solid #2589d0;
    background-color: #f2f2f2;

    li {
        padding: .3em .3em .3em 0;

        &::marker {
            color: #2589d0;
            font-size: 1.1em;
        }
    }

}

.c-list04 {
    position: relative;
    padding: 1.5em 1em 1em 2.5em;
    border: 2px solid #2589d0;

    &>div {
        position: absolute;
        top: -.75em;
        left: 1em;
        padding: 0 .5em;
        background-color: #fff;
        color: #2589d0;
        font-weight: 600;
    }

    ul {
        list-style-type: disc;
        margin: 0;
        padding: 0;

        li {
            padding: .3em .3em .3em 0;

            &::marker {
                color: #2589d0;
                font-size: 1.1em;
            }
        }
    }
}

.c-list05{
    border: 2px solid #2589d0;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px 0;
        background-color: #2589d0;
        color: #fff;
        font-weight: 600;
    }
    ul {
        list-style-type: disc;
        margin: 0;
        padding: 1em 1em 1em 2.5em;
        li {
            padding: .3em .3em .3em 0;
            &::marker {
                color: #2589d0;
                font-size: 1.1em;
            }
        }
    }
}

.c-list06{
    background-color: #f2f2f2;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px 0;
        background-color: #2589d0;
        color: #fff;
        font-weight: 600;
    }
    ul {
        list-style-type: disc;
        margin: 0;
        padding: 1em 1em 1em 2.5em;
        li {
            padding: .3em .3em .3em 0;
            &::marker {
                color: #2589d0;
                font-size: 1.1em;
            }
        }
    }
}

.c-list07{
    list-style-type: none;
    padding: 1em;
    border: 2px solid #2589d0;
    counter-reset: li;
    li {
        display: flex;
        align-items: center;
        padding: .3em;
        &::before {
            display: inline-block;
            min-width: 1.7em;
            margin-right: 5px;
            border-radius: 50%;
            background-color: #2589d0;
            color: #fff;
            font-weight: bold;
            font-size: .75em;
            line-height: 1.7em;
            text-align: center;
            content: counter(li);
            counter-increment: li;
        }
    }
}

.c-list08{
    list-style-type: none;
    padding: 1em;
    border: 2px solid #2589d0;
    li {
        display: flex;
        align-items: center;
        gap: 0 10px;
        padding: .3em;
        &::before {
            transform: rotate(-45deg);
            width: .4em;
            height: .4em;
            border-bottom: 3px solid #2589d0;
            border-right: 3px solid #2589d0;
            content: '';
        }
    }
}

.c-list09{
    list-style-type: none;
    padding: 1em;
    border: 2px solid #2589d0;
    li {
        display: flex;
        align-items: center;
        gap: 0 10px;
        position: relative;
        padding: .3em .3em .3em 1.5em;
        &::before,
        &::after {
            position: absolute;
            content: '';
        }
        &::before {
            left: 0;
            width: 1.2em;
            height: 1.2em;
            border-radius: 50%;
            background-color: #2589d0;
        }
        &::after {
            left: .6em;
            transform: translateX(-75%) rotate(-45deg);
            width: .3em;
            height: .3em;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
    }
}

.c-list10{
    list-style-type: none;
    padding: 1em;
    border: 2px solid #2589d0;
    li {
        display: flex;
        align-items: center;
        gap: 0 5px;
        padding: .3em;
        &::before {
            display: inline-block;
            width: 1em;
            height: 1em;
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%232589d0%22%20d%3D%22M8.2%2C20.6l-7.8-7.8c-0.5-0.5-0.5-1.2%2C0-1.7L2%2C9.4c0.5-0.5%2C1.2-0.5%2C1.7%2C0L9%2C14.7L20.3%2C3.4c0.5-0.5%2C1.2-0.5%2C1.7%2C0l1.7%2C1.7%20c0.5%2C0.5%2C0.5%2C1.2%2C0%2C1.7L9.8%2C20.6C9.4%2C21.1%2C8.6%2C21.1%2C8.2%2C20.6L8.2%2C20.6z%22%2F%3E%3C%2Fsvg%3E');
            content: '';
        }
    }
}

.c-list11{
    list-style-type: '👉';
    padding: 1em 1em 1em 2.5em;
    border: 2px solid #2589d0;
    li {
        padding: .3em;
    }
}

.c-list12{
    list-style-type: none;
    li {
        margin-bottom: 5px;
        padding: .5em .7em;
        border-left: 5px solid #2589d0;
        background-color: #f2f2f2;
        font-weight: 600;
    }
}

.c-list13{
    padding: 1em;
    li {
        list-style-type: none;
        position: relative;
        padding: .3em .3em .3em 1em;
        color: #333333;
        &::before,
        &:after {
            position: absolute;
            left: 0;
            background-color: #333333;
            content: '';
        }
        &::before {
            top: 1em;
            width: 10px;
            height: 1px;
        }
        &::after {
            top: 0;
            width: 1px;
            height: 100%;
        }
        &:last-child::after {
            height: 1em;
        }
    }
    span {
        display: flex;
        align-items: center;
        &::before {
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: 5px;
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%232589d0%22%3E%3Cpath%20d%3D%22M21.8%206h-9l-3-3H2.2C1%203%200%204%200%205.2v13.5C0%2020%201%2021%202.2%2021h19.5c1.2%200%202.2-1%202.2-2.2V8.2C24%207%2023%206%2021.8%206z%22%2F%3E%3C%2Fsvg%3E');
            content: '';
        }
    }

}