@use "../../global" as *;

.c-movie01 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 4% 4% 4% 4%;
    background: #e6e6e6;

    &__video_tag {
        width: 100%;
        max-width: 920px;
    }
}